body {
    margin: 0;
}

header {
    width: 393px;
    height: 454px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    margin: 0 11px 86px;
    padding: 0;
    align-items: center;
}

.jagom_command_info {
    width: 393px;
    height: 2300px;
    padding: 75px 33px 29px 34px;
    background-color: #fff;
    margin: auto;
}

.tag-Group {
    width: 393px;
    height: 76px;
    flex-grow: 0;
}

.tag-1 {
    width: 120px;
    height: 16px;
    flex-grow: 0;
    margin: 0 12px 12px 0;
    padding: 9px 13px 8px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rectangle-1 {
    width: 120px;
    height: 16px;
    flex-grow: 0;
    margin: 0 12px 12px 0;
    padding: 9px 13px 8px 14px;
    border-radius: 9px;
    border: solid 0.7px #8185e3;
    background-color: #f9f8f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag-text-1 {
    width: 75px;
    height: 15px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.72px;
    text-align: left;
    color: #8185e3;
    display: flex;
    justify-content: center;
    align-items: center;
}