html, body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Pretendard', 'Segoe UI', Tahoma, Geneva, sans-serif;
}

body {
    width: 393px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    margin-top: 30px;
}

header {
    width: 329px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    margin: 0;
    padding: 0;
    height: auto;
}

.back-to-home {
    height: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 13px;
    margin-top: 15%;
    padding: 0;
    align-self: flex-start;
}

.back-to-home span {
    height: 14px;
    flex-grow: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.4;
    letter-spacing: -0.96px;
    text-align: left;
    color: #6a6b7c;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.back-to-home span:hover {
    text-decoration: underline;
}

.tag-Group {
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 12px;
    align-items: flex-start;
    order: 1;
}

.tag-1, .tag-2, .tag-3 {
    min-height: 32px;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    border: solid 0.7px #8185e3;
    background-color: #f9f8f7;
    width: auto;
    position: relative;
    line-height: 32px;
}

.tag-3 {
    margin-left: auto;
}

.Rec_Text {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.72px;
    text-align: center;
    color: #8185e3;
}

.title {
    flex-grow: 0;
    font-size: 27px;
    font-weight: 600;
    letter-spacing: -1.44px;
    text-align: center;
    color: #5f606f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    gap: 8px;
    order: 2;
}

.title .book-emoji svg {
    display: block;
    margin-bottom: 15%;
}

.title .title-text {
    flex-grow: 0;
    font-size: 27px;
    font-weight: 700;
    letter-spacing: -1.44px;
    text-align: center;
    color: #5f606f;
}

.callout {
    width: 100%;
    height: 241px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 3;
}

.callout-box {
    width: 100%;
    height: 100%;
    flex-grow: 0;
    margin: 0;
    border-radius: 11px;
    border: solid 0.3px #00000054;
    background-color: #f6f6f7;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.callout-contents {
    width: 300px;
    height: auto;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 10px;
    scale: 0.97;
}

.callout-title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.84px;
    text-align: left;
    color: #736db3;
    width: 100%;
}

.callout-title span, .callout-title .nametag svg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.callout-padding {
    padding-left: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12.5px;
    font-weight: 200;
    line-height: 170%;
    letter-spacing: -0.72px;
    color: #585ba4;
    box-sizing: border-box;
    gap: 10px;
}

.callout-padding1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 12.5px;
    font-weight: 200;
    line-height: 170%;
    letter-spacing: -0.72px;
    color: #585ba4;
}

.callout-padding1 b {
    font-weight: 500;
}

.yellow-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
}

.yellow-label .Rectangle-3 {
    height: 29px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #fce8b6;
    padding: 2px 10px;
}

.blue-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
}

.blue-label .Rectangle-4 {
    height: 29px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #E7EDF8;
    padding: 2px 10px;
}

.feature-command {
    height: 15px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #e69d30;
    letter-spacing: 3px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0.95;
}

.feature-command1 {
    height: 15px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #585BA4;
    letter-spacing: 3px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0.95;
}

.feature-command .text-style-1 {
    letter-spacing: -0.9px;
}

.feature-command1 .text-style-1 {
    letter-spacing: -0.9px;
}

.content-section {
    width: 307px;
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 27px;
    margin: 55px 0 55px 0;
    padding: 0;
}

.section_1 {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 0;
}

.section-title {
    height: 24px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 13px;
    padding: 0;
    margin-bottom: 3%;
}

.section-icon {
    width: 18px;
    height: 18px;
    flex-grow: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title-text1 {
    height: 24px;
    flex-grow: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.8px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #706ca5;
}

.section-contents {
    height: 290px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 60px;
    padding: 0;
}

.feature {
    height: auto;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    padding: 0;
}

.y_label {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-grow: 0;
    align-items: left;
}

.y_label_Rec1 {
    width: auto;
    min-width: 35px;
    height: 36px;
    border-radius: 10px;
    background-color: #fce8b6;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-grow: 0;
    margin-left: -0.5%;
    padding: 0 10px;
    scale: 0.95;
    z-index: 10;
    opacity: 1;
}

.y_label_Rec2 {
    width: auto;
    min-width: 35px;
    height: 36px;
    border-radius: 10px;
    background-color: #fce8b6;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-grow: 0;
    margin-left: -0.5%;
    padding: 0 10px;
    scale: 0.95;
    z-index: 10;
    opacity: 1;
}

.y_feature-command {
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.96px;
    text-align: center;
    color: #e69d30;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.feature-info {
    display: inline-block;
    align-self: stretch;
    flex-grow: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 170%;
    letter-spacing: -0.85px;
    text-align: left;
    color: #4e4343;
    padding-left: 2%;
    margin-bottom: 3%;
}

.feature-info a {
    font-weight: 600;
    color: #4E4343;
}

.feature-info b {
    font-weight: 600;
}

.feature-info a:hover {
    text-decoration: underline;
}

.b_label {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-grow: 0;
    align-items: left;
}

.b_label_Rec1 {
    width: auto;
    min-width: 60px;
    height: 36px;
    border-radius: 10px;
    background-color: #e7edf8;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-grow: 0;
    margin-left: -1%;
    padding: 0 10px;
    scale: 0.95;
    z-index: 10;
    opacity: 1;
}

.b_label_Rec2 {
    width: auto;
    min-width: 60px;
    height: 36px;
    border-radius: 10px;
    background-color: #e7edf8;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-grow: 0;
    margin-left: -0.5%;
    margin-top: 3%;
    padding: 0 10px;
    scale: 0.95;
    z-index: 10;
    opacity: 1;
}

.b_feature-command {
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.96px;
    text-align: center;
    color: #606ea0;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.b_feature-command .text-style-2 {
    color: #adb8cd;
}

.relative_action {
    height: auto;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 15px;
    margin: -4% 0% 7% 0%;
    padding-left: 4%;
}

.relative_action_1 {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
}

.relative_icon {
    width: 13px;
    height: 13px;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.relative_icon svg {
    width: 100%;
    height: 100%;
    display: block;
}

.relative_text {
    flex-grow: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 170%;
    letter-spacing: -1.04px;
    text-align: left;
    color: #4e4343;
}

.relative_text .text-style-1 {
    color: #a9abb1;
}

.copyright {
    width: 100%;
    text-align: center;
    font-family: 'Pretendard', sans-serif;
    font-size: 12px;
    color: #a6a6a6;
    margin: 0px 0 50px 0;
}
