html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

body {
    width: 393px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 74px;
}

header {
    width: 329px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    margin: 0 0 86px;
    padding: 0;
    height: auto;
}

.tag-Group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.tag-1, .tag-2, .tag-3 {
    height: 32px;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    border: solid 0.7px #8185e3;
    background-color: #f9f8f7;
}

.tag-1, .tag-2 {
    width: auto;
}

.tag-3 {
    width: auto;
    margin-left: calc(105px); /* tag-2의 너비와 간격만큼 좌측에서 띄워 정렬 */
}

.Rec_Text {
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.72px;
    text-align: center;
    color: #8185e3;
}
