.jagombot_intro {
    width: 393px;
    height: 1999px;
    flex-grow: 0;
    padding: 54px 9px 456px;
    background-color: #fff;
  }


.Features-section {
    width: 375px;
    height: 1419px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 48px;
    margin: 0 0 52px;
    padding: 64px 0 17px;
    background-color: #fff;
  }

.Subheading {
    height: 20px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: -0.84px;
    text-align: center;
    color: #7db1ff;
  }