.jagombot_intro {
    width: 393px;
    height: 1999px;
    flex-grow: 0;
    padding: 54px 9px 456px;
    background-color: #fff;
}

.Features-section {
    width: 375px;
    height: 1419px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 48px;
    margin: 0 0 52px;
    padding: 64px 0 17px;
    background-color: #fff;
}

.Container {
    height: 146px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 32px;
    padding: 0 16px;
}

.Heading-and-subheading {
    height: 70px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 12px;
    padding: 0;
}

.Subheading {
    height: 20px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: -0.84px;
    text-align: center;
    color: #7db1ff;
}

.Heading {
    height: 38px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: -1.8px;
    text-align: center;
    color: #101828;
}

.Supporting-text {
    height: 60px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: -0.9px;
    text-align: center;
    color: #858b97;
  }
  
.Supporting-text .text-style-1 {
    font-weight: normal;
}

.Container-2 {
    height: 1015px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 40px;
    padding: 0 16px;
}

.Featured-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-left: 2.7px;
    padding-right: 2px;
    border-radius: 50%;
    border: solid 6px #fff9ef;
    background-color: #ffebc5;
}

.Vector {
    width: 98%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-grow: 0;
    margin: 0;
}

._Feature-text {
    height: 171px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding-bottom: 10%;
}

.Text {
    height: 28px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: -1.08px;
    text-align: center;
    color: #101828;
}

.Supporting-text {
    height: 81px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.08;
    letter-spacing: -0.78px;
    text-align: center;
    color: #667085;
} 

.Supporting-text .text-style-1a {
    font-weight: 600;
}

.Text-and-supporting-text {
    height: 88px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 6px;
    padding: 0;
}

.Text1 {
    height: 28px;
    align-self: stretch;
    margin-top: 50px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: -1.08px;
    text-align: center;
    color: #7db1ff;
}

.Supporting-text1 {
    height: 54px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Inter;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.08;
    letter-spacing: -0.78px;
    text-align: center;
    color: #7db1ff;
  }